<a routerLink="/"></a>
<h2>Главная страница</h2>
<hr>
<p>
  just lost a year and a half of activity data. Everything I recorded with my Apple Watch from January 7, 2017 to June 15, 2018 is gone. All my daily step counts, stand hours, exercise minutes, and calories burned — gone. All my runs, workouts, and sports played — gone. Everything is gone.
</p>
<button class="btn btn-primary" (click)="toPage()">Открить страницу машина</button>
<hr>
<button class="btn btn-success" (click)="changeAuthStatus('login')">Войти в систему</button>
<button class="btn btn-danger" (click)="changeAuthStatus('logout')">Выйти из ситему</button>
